{% extends "layout.html" %}
{% block title %} {{ category.name }} {% endblock %}
{% block content %}
<p>Here are the threads for {{ category.name }}!</p>
<ol>
{% for thread in category.threads %}
<li><a href="/thread/{{ thread[0] }}">{{ thread[1] }}</a></li>
{% endfor %}
{% if session.user_id %}
<form action="/create_thread" method="GET"><input class="btn btn-outline-primary btn-sm" type="hidden" name="category" value={{ category.id }}><input class="btn btn-outline-primary btn-sm" type="submit" value="Create thread"></form>
{% endif %}
</ol>
{% endblock %}