{% extends "layout.html" %}
{% block title %} Create a new thread {% endblock %}
{% block content %}
<form action="/create_thread" method="POST">
<p>Give your thread a title:</br>
<input class="btn btn-outline-primary btn-sm" type="text" name="title"></p>

<p>What do you want to say?</br>
<input class="btn btn-outline-primary btn-sm" type="text" name="message"></p>
<input class="btn btn-outline-primary btn-sm" type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
{% if category %}
<p>Creating thread in <a href="/category/{{ category.id }}">{{ category.name }}</a></p>
<input class="btn btn-outline-primary btn-sm" type="hidden" name="category" value={{ category.id }}>
{% elif categories %}

<p>Which category do you want to create your thread in?</p>
<label for="category">Choose a category</label>
<select name="category" id="category">
    {% for category in categories %}
    <option value="{{ category[0] }}">{{ category[1] }}</option>
    {% endfor %}
</select>
{% endif %}
</br>
<input class="btn btn-outline-primary btn-sm" type="submit" value="Create thread">
</form>
{% endblock %}