{% extends "layout.html" %}
{% block title %} Home {% endblock %}
{% block content %}
{% if session.username %}
<p>You have logged in as {{ session.username }}</p>

<a href="/create_thread">Create thread</a></br>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<form action="/login" method="POST">
<p>Username:<br>
<input type="text" name="username"></p>
<p>password:<br>
<input type="password" name="password"></p>
<input type="submit" value="Log in">
</form>

<form action="/register" method="GET">

<input type="submit" value="Register">
</form>
{% endif %}

<ol>
    {% for category in categories %}
    <li><a href="/category/{{ category[0] }}">{{ category[1] }}</a></li>
    {% endfor %}
</ol>
{% if session.role == "admin" %}
<a href="/create_category">Create a new category.</a>
{% endif %}

{% endblock %}